---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="https://uswebsitetest.us" class="gpt-title">感谢Google Gemini chat </a>
    <a href="https://uswebsitetest.us" class="gpt-subtitle">狗爸键圣</a>
  </div>
  <p mt-1 op-60>
    Based on
    <a href="https://uswebsitetest.us"> 感谢 Gemini API.</a>
    <a href="https://uswebsitetest.us" class="font-bold">Source code</a>
  </p>
</header>
